<!DOCTYPE html>
<html ng-app='Contacts'>
<head lang="en">
  <meta charset="UTF-8">
  <title>ng-contacts</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <script src="../libs/angular.js"></script>
  <script src="../libs/firebase.js"></script>
  <script src="../libs/angularfire.js"></script>
  <script src="contacts.js"></script>
</head>
<body class="container">

<div ng-controller="ContactsController">
  <br/>
  <div class="row">
    <aside class="col-lg-3">

    </aside>
    <article class="col-lg-offset-1 col-lg-8">

      <form novalidate role="form" name="form" class="form-horizontal" ng-submit="add()">
        <div class="form-group">
          <label for="firstName" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="currentContact.firstName" id="firstName" placeholder="First Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="currentContact.lastName" id="lastName" placeholder="Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="eMail" class="form-control" id="email" ng-model="currentContact.eMail" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-2 control-label">City</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
          <label for="state" class="col-sm-1 control-label">City</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="state" placeholder="State">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <!-- note: there is now action on the button, it is on the form so it handles enter/return too -->
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Add Contact</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-warning">Cancel</button>
          </div>
        </div>
      </form>
    </article>
  </div>
</div>


</body>
</html>